@font-face {
    font-family: 'LEMON MILK';
    src: url('fonts/LEMONMILK-Regular.woff2') format('woff2'),
        url('fonts/LEMONMILK-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}